---
import Layout from "../../layouts/Layout.astro"

const {ticket_number} = Astro.params

---

<Layout>
            <h1>Tu número de ticket es: {ticket_number}</h1>
            <p>Hemos recibido tu reporte, nos comunicaremos contigo para darle continuidad.</p>

</Layout>