---
const { ticket } = Astro.props;

function textoCorto(text: any, maxLength: any) {
  if (text.length > maxLength) {
    return text.slice(0, maxLength) + "...";
  }
  return text;
}
---

<div class="max-w-sm rounded overflow-hidden shadow-lg m-4 p-4 bg-white">
  <div class="font-bold text-xl mb-2">
    Ticket #{ticket.ticketNumber} de {textoCorto(ticket.ticketInfo.empresa, 20)}
  </div>
  <div class="flex-grow">
    <p class="text-gray-700 text-base">
      <strong>Prioridad:</strong>
      <span
      class={`inline-flex items-center px-3 py-1 text-sm font-medium rounded-full cursor-pointer ${
        ticket.ticketInfo.prioridad.toUpperCase() === "BAJA"
          ? "bg-blue-500 text-white"
          : ticket.ticketInfo.prioridad.toUpperCase() === "MEDIA"
            ? "bg-yellow-500 text-black"
            : ticket.ticketInfo.prioridad.toUpperCase() === "ALTA"
              ? "bg-red-400 text-black"
              : "bg-green-500 text-white"
      }`}
    >
      {ticket.ticketInfo.prioridad}
    </span>
    </p>
    <p class="text-gray-700 text-base">
      <strong>Contacto:</strong>
      {
        ticket.ticketInfo.contacto
          ? textoCorto(ticket.ticketInfo.contacto, 20)
          : null
      }
    </p>
    <p class="text-gray-700 text-base">
      <strong>Dispositivo:</strong>
      {ticket.ticketInfo.hora ? textoCorto(ticket.ticketInfo.hora, 20) : null}
    </p>
    <p class="text-gray-700 text-base">
      <strong>Teléfono:</strong>
      {
        ticket.ticketInfo.telefono
          ? textoCorto(ticket.ticketInfo.telefono, 20)
          : null
      }
    </p>
  </div>
</div>
