---
import MainLayout from "../layouts/MainLayout.astro";
import TicketInput from "../components/react/TicketInput.jsx"; // Asegúrate de ajustar la ruta
---

<MainLayout>
  <div class="flex justify-center items-center h-32 bg-gray-100">
    <h1 class="text-3xl font-bold text-gray-800">Bienvenido a reportes CID</h1>
  </div>

  <div class="flex flex-col items-center mt-16 space-y-8 mx-4">
    <div class="flex justify-around w-full max-w-4xl">
      <!-- Ticket Input Island -->
      <div class="bg-white shadow-lg rounded-lg p-8 max-w-sm w-full flex flex-col transition-transform duration-300 hover:scale-105 hover:shadow-xl">
        <TicketInput client:load />
      </div>

      <!-- Tarjeta con botones -->
      <div class="bg-white shadow-lg rounded-lg p-8 max-w-sm w-full flex flex-col items-center text-center transition-transform duration-300 hover:scale-105 hover:shadow-xl">
        <h3 class="text-xl font-semibold mb-4">Registra un nuevo reporte</h3>
        <p class="text-gray-600 mb-8">
          Al registrar un reporte nuestro equipo adquiere la información necesaria para atender tu problema con mayor solvencia.
        </p>
        <div class="flex flex-col space-y-4 w-full">
          <!-- Botón para enviar un mensaje de WhatsApp -->
          <a 
          href="https://api.whatsapp.com/send?phone=523341678044&text=Enviar%20un%20reporte" 
            class="bg-green-500 text-white py-2 px-4 rounded-full text-center no-underline transition-transform duration-300 hover:scale-105 hover:shadow-xl"
            target="_blank"
          >
            Enviar por whatsapp
          </a>
          <!-- Botón para ir a la página de reportes -->
          <a 
            href="/report" 
            class="bg-blue-500 text-white py-2 px-4 rounded-full text-center no-underline transition-transform duration-300 hover:scale-105 hover:shadow-xl"
          >
            Enviar desde web
          </a>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
