---
import ReportComponent from "../components/forms/ReportComponent.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Reporte de errores</h1>

  <ReportComponent />
</Layout>
