---

const { user } = Astro.locals;
if (user == null) {
  return Astro.redirect("/admin/signin");
}
import { db, tickets } from "astro:db";
import CardComponent from "@/adminComponents/CardComponent.astro";
import MainLayout from "@/layouts/MainLayout.astro";

const allTickets = await db.select().from(tickets);
---
<MainLayout>

  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {allTickets.map(ticket => (
        <a href={`/admin/ticket/${ticket.ticketNumber}`}>
        <CardComponent ticket={ticket} />
      </a>
        
      ))}
    </div>
  </div>
</MainLayout>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
  }
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #a29d9d;
  }
  .card h1 {
    font-size: 24px;
    margin: 0;
  }
  .card h2 {
    font-size: 18px;
    margin: 8px 0 0 0;
  }
  .card p {
    font-size: 14px;
    margin: 8px 0 0 0;
  }
</style>
