---
const { prevTicket = '0' } = Astro.props
---

<form action="/api/createTicket" method="post" enctype="multipart/form-data">

    <input type="text"  name="prevticket" style="display: none;" value={prevTicket}>
    <h2>Información de contacto</h2>
    <label for="empresa">Nombre de la empresa</label>
    <input type="text" name="empresa" id="empresa" />

    <label for="contacto">Nombre del contacto</label>
    <input type="text" name="contacto" id="contacto" />

    <label for="correo">Correo electrónico</label>
    <input type="text" name="correo" id="correo" />

    <label for="telefono">Teléfono</label>
    <input type="text" name="telefono" id="telefono" />

    <label for="descripcion">Descripción del problema</label>
    <textarea name="descripcion" id="descripcion"></textarea>

    <label for="fecha">Fecha del error</label>
    <input type="text" name="fecha" id="fecha" />

    <label for="hora">Hora del error</label>
    <input type="text" name="hora" id="hora" />

    <label for="detalle">Descripción detallada del problema</label>
    <textarea name="detalle" id="detalle"></textarea>

    <label for="capturas">Capturas de pantalla</label>
    <input type="file" name="image" id="">

    <h2>Información técnica</h2>

    <h3>Sistema operativo</h3>

    <input type="radio" value="windows" checked="true" name="os" id="windows" />
    <label for="windows">Windows</label>
    <input type="radio" value="mac" name="os" id="mac" />
    <label for="mac">Mac</label>
    <input type="radio" value="linux" name="os" id="linux" />
    <label for="linux">Linux</label>
    <input type="radio" value="ios" name="os" id="ios" />
    <label for="ios">iOS</label>
    <input type="radio" value="android" name="os" id="android" />
    <label for="android">Android</label>
    <input type="radio" value="na" name="os" id="na" />
    <label for="na">No aplica</label>

    <h3>Navegador</h3>

    <input type="radio" value="chrome" checked="true" name="navegador" id="chrome" />
    <label for="chrome">Google Chrome</label>
    <input type="radio" value="safari" name="navegador" id="safari" />
    <label for="safari">Safari</label>
    <input type="radio" value="edge" name="navegador" id="edge" />
    <label for="edge">Microsoft Edge</label>
    <input type="radio" value="firefox" name="navegador" id="firefox" />
    <label for="firefox">Firefox</label>
    <input type="radio" value="otro" name="navegador" id="otroNav" />
    <label for="otroNav">Otro</label>
    <input type="radio" value="na" name="navegador" id="naNav" />
    <label for="naNav">No aplica</label>

    <h3>Tipo de dispositivo</h3>

    <input type="radio" value="desktop" checked="true" name="dispositivo" id="desktop" />
    <label for="desktop">Desktop</label>
    <input type="radio" value="tablet" name="dispositivo" id="tablet" />
    <label for="tablet">Tablet</label>
    <input type="radio" value="celular" name="dispositivo" id="celular" />
    <label for="celular">Celular</label>
    <input type="radio" value="otro" name="dispositivo" id="otroDis" />
    <label for="otroDis">Otro</label>
    <input type="radio" value="otro" name="dispositivo" id="naDis" />
    <label for="naDis">No aplica</label>


    <h3>Impacto del problema</h3>
    <label for="impacto"
      >Describe cómo está afectando este problema a tu negocio o a tus
      operaciones diarias.</label
    >
    <textarea name="impacto" id=""></textarea>

    <h3>Intento de solución</h3>
    <label for="solucion">Describe cualquier paso que ya hayas tomado para intentar resolver el
        problema.</label>
        
    <textarea name="solucion" id=""></textarea>

    <h3>Prioridad del problema</h3>
    <input type="radio" value="baja" checked="" name="prioridad" id="baja" />
    <label for="baja">Baja</label>
    <input type="radio" value="media" name="prioridad" id="media" />
    <label for="media">Media</label>
    <input type="radio" value="alta" name="prioridad" id="alta" />
    <label for="alta">Alta</label>

    <h3>Información adicional</h3>
    <label for="adicional">
      Cualquier otra información que creas que puede ser relevante.</label
    >
    <textarea  name="adicional" id="adicional"></textarea>

    <button type="submit">Enviar</button>
  </form>